<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\..\CommonPackages" />
    <add key="globalPackagesFolder" value="..\..\CommonPackages" />
  </config>
  <packageSources>
    <clear/>
    <add key="Digital Workplace" value="https://microsoftit.pkgs.visualstudio.com/_packaging/Digital-Workplace/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear/>
  </disabledPackageSources>
</configuration>