name: Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  Build:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/build.yml@users/asthasharma/fix
    with:
     project-to-build: "QueryBuilder/QueryBuilder.csproj"
     project-to-test: "QueryBuilder.Test/QueryBuilder.Test.csproj"

  Pack:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/pack.yml@v3.1
    with:
      project-to-pack: "QueryBuilder/QueryBuilder.csproj"

  Scan:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/scan.yml@v3.1