name: Package publish

on:
  push:
    branches: [ main ]
#    paths:
#    - QueryBuilder/**
  pull_request:
    branches: [ main ]

env:
  assembly: "Microsoft.DigitalWorkplace.DigitalTwins.QueryBuilder"

jobs:
  Parse_Environment:
    runs-on: ubuntu-latest
    outputs:
      assembly_name: ${{steps.parse.outputs.assembly_name}}
    steps:
      - name: Parse Environment
        id: parse
        run: echo "::set-output name=assembly_name::${{env.assembly}}"
      - name: output env
        run: |
          echo "${{github.ref_name}}"

  Build:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/build.yml@v1.0
    needs: Parse_Environment
    with:
      project-to-pack: "QueryBuilder/QueryBuilder.csproj"
      
  Verify:
    needs: Build
    runs-on: windows-latest
    steps:
      - name: Download Unsigned Packages
        uses: actions/download-artifact@v2
        with:
          name: unsigned
          path: unsigned
      - name: Verify Package Metadata
        run: |
          $url = "https://raw.githubusercontent.com/NuGet/NuGetGallery/master/src/VerifyMicrosoftPackage/verify.ps1"
          Invoke-WebRequest $url -OutFile verify.ps1
          .\verify.ps1 .\unsigned\beta\*.nupkg
          .\verify.ps1 .\unsigned\stable\*.nupkg

  Sign:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/sign.yml@v1.0
    if: github.ref_name == 'fix_workflow'
    needs: [Parse_Environment, Build]
    with:
      assembly_name: ${{ needs.Parse_Environment.outputs.assembly_name }}
      beta_version: ${{ needs.Build.outputs.beta-version }}
      stable_version: ${{ needs.Build.outputs.stable-version }}
    secrets:
      client_id: ${{ secrets.AAD_SIGNING_CLIENT_ID }}
      az_creds: ${{ secrets.AZURE_CREDENTIALS }}
      az_sub: ${{ secrets.AZURE_SUBSCRIPTION }}
      storage_name: ${{ secrets.AZURE_STORAGE }}
      container_name: ${{ secrets.AZURE_STORAGE_CONTAINER }}
      vault_name: ${{ secrets.AZURE_VAULT }}
      aad_cert: ${{ secrets.AAD_AUTH_CERT }}
      sign_cert: ${{ secrets.ESRP_SIGNING_CERT }}
      signing_cert_fingerprint: ${{ secrets.SIGNING_CERT_FINGERPRINT }}
      
  Publish_Beta:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/beta_publish.yml@v1.0
    needs: [Parse_Environment, Build, Sign]
    with:
      assembly_name: ${{ needs.Parse_Environment.outputs.assembly_name }}
      version: ${{ needs.Build.outputs.beta-version }}
    secrets:
      api_key: ${{ secrets.NUGET_API_KEY }}

  Publish_Stable:
    uses: microsoft/digitalworkplace-workflows/.github/workflows/stable_publish.yml@v1.0
    needs: [Parse_Environment, Build, Sign]
    with:
      assembly_name: ${{ needs.Parse_Environment.outputs.assembly_name }}
      version: ${{ needs.Build.outputs.stable-version }}
    secrets:
      api_key: ${{ secrets.NUGET_API_KEY }}
