on:
  workflow_call:
    secrets:
      api_key:
        required: true

jobs:
  Stable:
    runs-on: ubuntu-latest
    environment: Release
    steps:
    - name: Download Signed Packages
      uses: actions/download-artifact@v2
      with:
        name: signed
        path: signed

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Push Stable Package
      run: |
        $fileName = (Get-ChildItem -Recurse -Filter *.nupkg | Select -Property Name).Name
        echo $fileName
